@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>VioMujer</h1>
    <p class="lead">Esta aplicación te ayuda a reconocerte como mujer y a conocer tus derechos y que hacer cuando estos sean quebrantados</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Lieas de atención</h2>
        <p>
            Existen sitios de atención alos que puedes asistir
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Conoce más &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Conoce tus derechos</h2>
        <p>
            ¿Sabes cuales son tus derechos?
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Conoce más &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Vecino denuncia</h2>
        <p>
            Tu puedes denucniar si una mujer esta siendo maltratada
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Conoce más &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Educando a los hombres</h2>
        <p>
            Tips de como enseñar a los hombres a comportarse
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Conoce más &raquo;</a></p>
    </div>
</div>